alembic
Flask
Flask_Login
Flask_Migrate
flask_sqlalchemy
flask_wtf
Flask-Moment
Flask-Limiter
google-generativeai
numpy
protobuf
pytest
python-dotenv
setuptools
SQLAlchemy
Werkzeug
WTForms
markdown
google-genai
gunicorn
APScheduler
requests
gTTS


